extends courrielTemplate
block ressources
    script(src='javascripts/jquery-2.2.1.min.js')
    script(src='/javascripts/AES.js')
    script(src='/javascripts/nouveauContact.js')
block content
    .contenant
    #liste_contacts
      table
        tbody
          - each item in contacts
            tr
              td= item.contact_nom
      br
    br
    select#nomUtilisateur
        each val in utilisateurs
            option(value=val.ClePublique)= val.Nom
    button.BoutonBloc#btnEnr Ajouter contact
