doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/interface_courriel_css.css')
    meta(charset='UTF-8')
    script(src='/javascripts/courrielTemplate.js')
    block ressources
  body
    .Entete
      img(src='/images/uqo-logo.png', alt='uqo', width='200', height='50', align='right', filter='alpha(opacity=40)')
      h1.Titre Boite de courriel
    .Tableau1
      input.Bouton(type='button', value='Nouveau message', id='nouveau message', onclick='nouvMessage();')
      br
      br
      input.Bouton(type='button', value='Boite de reception', id='boite de reception', onclick='afficheInbox();')
      br
      br
      input.Bouton(type='button', value='Messages envoyes', id='messages envoyes', onclick='afficheOutbox();')
      br
      br
      input.Bouton(type='button', value='Liste des contacts', id='liste des contacts', onclick='afficheYp();')
      br
      br
    .Tableau2
      p#TitreCible.TitreTableau2= titre
      block content
