extends courrielTemplate
block ressources
	script(src='javascripts/jquery-2.2.1.min.js')
	script(src='/javascripts/AES.js')
	script(src='/javascripts/jsencrypt.js')
	script(src='/javascripts/chiffrement.js')
	script(src='/javascripts/message.js')
block content
	#boite_reception
		table#tableinbox
			.head
				th
					.th1 Date
				th
					.th2 Expéditeur
				th
					.th3 Message
				th
					.th1 
			tr
			tbody
			each item in inbox
				td
					.td1= item.dateEnvoi
				td
					.td1= item.message_de
				td
					.td3= item.texte
				td 
					- var id_mes=''
					input.BoutonMessage(type='button', value='Voir le message', id=item.id_message, onclick='ouvrirMessage(this.id);')
				tr#tr
	br