extends courrielTemplate

block ressources
	script(src='javascripts/jquery-2.2.1.min.js')
	script(src='/javascripts/AES.js')
	script(src='/javascripts/jsencrypt.js')
	script(src='/javascripts/chiffrement.js')
	script(src='/javascripts/message.js')
	meta(name='cleDe', content= message.cleDe)
	meta(name='cleA', content= message.cleA)
block content
	#lecture-message
		hr
		p#message-de= 'De: ' + message.de
		p#message-a= 'À: ' + message.a
		p#message-date= 'Date envoi: ' + message.date
		hr
		p#message-body= message.body