








.Tableau2{
width:950px;
height:440px;
background-color:silver;
float:right;
border:solid 1px black;
}

.Tableau1 {
border:solid 1px black;
background-color:silver;
width:600px;
padding:20px;
height:400px;
float="left";
}
