html {
	font-family:Arial;
}
.Entete{
	width:711px;
	height:35px;
	padding:35px;
	border-style: groove;
	border-color: gray;
	background-color:gray;
	color: white;
	box-shadow: 5px 5px 5px gray;
	text-shadow: 2px 1px black;
}

.Tableau1 {
	width:135px;
	height:500px;
	padding:35px;
	float:left;
	border-style: groove;
	border-color: gray;
	background-color:silver;
	box-shadow: 5px 5px 5px gray;
}

.Tableau2{
	width:500px;
	height:500px;
	padding:35px;
	background-color:rgb(233,233,233);
	float:left;
	border-style: groove;
	border-color: gray;
	box-shadow: 5px 5px 5px gray;
}

.Titre {
	font-size: 200%;
}

.TitreTableau2{
	font-size: 150%;
}

.Bouton {
	width: 135px;
	height: 25px;
}

.Contenant {
  height: 400px;
  width: 100%;
  overflow: auto;
}

table {
  width: 200px;
  border-style: groove;
  border-color: gray;
  background-color: white;
}

.TextBox{
  width:270px;

}
.TextBox option{
  width:270px;

}
#mes {
	font-style: italic;
	padding-left = 15px;
}

#txtMsg
{
	width: 495px;
	height: 300px;
	resize: none;
}
